.container {
    .spritesContainer {
        display: grid;
        grid-template-columns: 4fr 4fr 4fr 4fr;
        justify-items: center;
        grid-column-gap: 0.85rem;
    }

    .spritesContainer_image {
        height: 8rem;
        align-self: center;
    }
}